body {
  font-family: sans-serif;
  color: black;
}

h1 {
  font-family: sans-serif;
  color: #f7838d;
}

h2 {
  font-family: sans-serif;
  color: #f7838d;
}

img.catlogo {
  width: 100px;
}

img.citypic {
  width: 400px;
  height: 200px;
}
  
.menu-nav {
  background-color: #e4fffc;
  width: 100%;
  margin: 0px;
  overflow: hidden;
  position: fixed;
  top: 0; 
}

.navbar {
  list-style-type: none;
  margin: 0;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 15px;
  background-color: #e4fffc;
  text-decoration: none
} 

li {
  display: inline;
  padding: 30px;
  text-decoration: none
}

li a {
  color: #000;
  text-decoration: none;
}

li a:hover {
  color: #f7838d;
}

a:link {
  color: black;
  text-decoration: none;
}

.main {
  margin-bottom: 130px; 
}

div.main-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
  margin-top: 50px;
}

span.citybox {
  text-align: center;
}

@keyframes slideshow-container {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: 300%;
  }

  100% {
    left: -400%;
  }
}

#slideshow-container {
  overflow: hidden;
}

#slideshow-container figure img {
  width: 50%;
  float: left;
}

#slideshow-container figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: center;
  font-size: 20px;
  animation: 20s slideshow-container infinite;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  align-content: justify;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}